/*---------*/
/* Borders */
/*---------*/

$border-size-normal: 0.1rem;

/*--------*/
/* Colors */
/*--------*/

$color-light-1: #b1b1b1; // light grey color, borders
$color-light-2: #96ff76 ; // green color, "Add product" button border
$color-light-3: #3bfe00; // green color, "Add product" border on hover
$color-light-4: #ffd1d1 ; // red color, "Delete product" button border
$color-light-5: #f03939; // red color, "Delete product" button border on hover


$color-u-1: #e7ffe0; // DVD unit color
$color-u-2: #fee0ff; // Books unit color
$color-u-3: #e0ebff; // Tables unit color

$color-text-1: #8b8b8b; // "Add product" & "Delete" buttons text
$color-black: #000; // "Add product" & "Delete" buttons text on hover

/*-----------*/
/* Font Size */
/*-----------*/

$font-size-normal: 1.6rem;

